/* Set document default styles for text */
body{
    margin: 0;
    padding: 0;
    background: white;
    
}

.container{
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
}

.wrapper{
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

header{}

.menu{}

.location{}

.content{}
